.profile-save-btn {
  margin: 2% 0;
}

.profile-img-siders {
  margin: 0;
  font-size: 0.8rem;
}

.profile-timezone  {
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
}

.hourly-rate {
  max-width: 100px;
  text-align: left;
}
