<%- include ("../templates/head") -%>

<section>
  <%- include ("../templates/header") -%>
</section>

<section>
  <div class="mid-section">

    <div class="disclaimer-head">
      <h3>Freelancers</h3>
    </div>
    <div class="job-showcase">
      <small>
        Showing 1 - 25 of 2000 freelancers.
      </small>
      <table class="table table-hover">
        <thead>
          <tr class="d-flex">
            <th class="project-title"><small><b>Freelancer</b></small></th>
            <th class="project-start"><small><b>Started</b></small></th>
            <th class="project-end"><small><b>Reviews</b></small></th>
            <th class="price-range"><small><b>Summary</b></small></th>
            <th class="bid-avg"><small><b>Last Seen</b></small></th>
            <th class="bid-count"><small><b>Here Since</b></small></th>
            <th class="action-btn"><small><b>Action</b></small></th>
          </tr>
        </thead>
        <tbody>
            <tr class="table-light d-flex">
              <td class="project-title table-link">
                <b>
                   <i class="fas fa-flag-checkered"></i> <i class="fas fa-lock"></i> <a href="#">Build desktop and mobile app</a>
                </b>
                <br>
                <small class="text-link">
                  website and software
                </small>
                <br>
                <i class="fas fa-flag-usa"></i>
                <small>
                  Country
                </small>
                <br>
                <small class="text-info">
                  Lorem ipsum dolor sit amet, consectetur adipisicing
                </small>
              </td>
              <td class="project-start">
                <small>
                  Started
                  <br>
                  11 months ago
                </small>
              </td>
              <td class="project-end">
                <small>
                  <b>Bidding Closed</b>
                  <br>
                  Feb 10, 2019
                </small>
              </td>
              <td class="price-range">
                <small>
                  $5 - 75 USD
                </small>
              </td>
              <td class="bid-avg">
                <small>
                  $5000 USD
                </small>
              </td>
              <td class="bid-count">
                <small>
                  100
                </small>
              </td>
              <td class="action-btn">
                <a class="btn btn-outline-success btn-sm" type="btn" href="#">
                Bid Now
                </a>
              </td>
            </tr>
        </tbody>
      </table>
    </div>

    <div class="pagination-links col-md-4 col-md-offset-4">
      <ul class="pagination pagination-sm">
        <li class="page-item disabled">
          <a class="page-link" href="#">&laquo;</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">&raquo;</a>
        </li>
      </ul>
    </div>

  </div>
</section>

<%- include ("../templates/footer") -%>
