<% include ../templates/head %>

<section>
  <% include ../templates/header %>
</section>

<section>
  <div class="mid-section">
    <div class="row">
    	<div class="col-lg-12">
        <h5>My Profile</h5>
  			<small>Account settings, visible portfolio and reviews.</small>
  			<hr>
    	</div>

  		<div class="col-lg-12">
  			<ul class="nav nav-tabs">
  			  <li class="nav-item">
  			    <a class="nav-link active" data-toggle="tab" href="#personalinformation">Personal Information</a>
  			  </li>
  			  <li class="nav-item">
  			    <a class="nav-link" data-toggle="tab" href="#emailnotifications">Email Notifications</a>
  			  </li>
  			  <li class="nav-item">
  			    <a class="nav-link" data-toggle="tab" href="#skills">Skills</a>
  			  </li>
  			  <li class="nav-item">
  			    <a class="nav-link" data-toggle="tab" href="#education">Education</a>
  			  </li>
  			  <li class="nav-item">
  			    <a class="nav-link" data-toggle="tab" href="#portfolio">Portfolio</a>
  			  </li>
  			  <li class="nav-item">
  			    <a class="nav-link" data-toggle="tab" href="#certifications">Certifications</a>
  			  </li>
  			  <li class="nav-item">
  			    <a class="nav-link" data-toggle="tab" href="#publications">Publications</a>
  			  </li>
  			</ul>
  			<div id="myTabContent" class="tab-content">
  			  <div class="tab-pane fade show active" id="personalinformation">
            <% include ../profiles/partials/personalInformation %>
  			  </div>
  			  <div class="tab-pane fade" id="emailnotifications">
            <% include ../profiles/partials/emailNotifications %>
  			  </div>
  			  <div class="tab-pane fade" id="skills">
            <% include ../profiles/partials/skills %>
  			  </div>
  			  <div class="tab-pane fade" id="education">
            <% include ../profiles/partials/education %>
  			  </div>
  			  <div class="tab-pane fade" id="portfolio">
            <% include ../profiles/partials/portfolio %>
  			  </div>
  			  <div class="tab-pane fade" id="certifications">
            <% include ../profiles/partials/certifications %>
  			  </div>
  			  <div class="tab-pane fade" id="publications">
            <% include ../profiles/partials/publications %>
  			  </div>
  			</div>
  		</div>
    </div>

  </div>
</section>

<% include ../templates/footer %>
